/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


@theme{
  --color-blue-light: #A8C7E7;
  --color-blue: #2F4A81;
  --color-blue-dark: #1C2B48;
  --color-connector-white: #E8ECEF;
  --color-crystal-detail-bg: #00091c8c;

  --font-roboto: "Roboto", sans-serif;
  --font-nino: "nino", sans-serif;
}

@utility font-case{
  font-feature-settings: "case" on;
}

@font-face {
  font-family: 'nino';
  src: url('/fonts/bpg_nino_mtavruli_bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'nino';
  src: url('/fonts/bpg_nino_medium_condenced.otf');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'nino', sans-serif !important;
}

.container{
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.bg-crystal-blur{
  background-color: color-mix(in oklab, var(--color-crystal-detail-bg) 45%, transparent);
}

button{
  cursor: pointer;
}
